# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SKEGGOX_LEFT

config ZMK_KEYBOARD_NAME
	default "skeggox"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SKEGGOX_LEFT || SHIELD_SKEGGOX_RIGHT

config ZMK_SPLIT
	default y

endif
