/* source keypos definitions */
#include "../zmk-helpers/key-labels/36.h"

/* map Zen's extra keys */
#define X_LH  &bs_del          // thumb row, left
#define X_RH  &smart_mouse     // thumb row, right

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

/* use 5-column layout for this corne */
/ { chosen { zmk,matrix_transform = &five_column_transform; }; };
